<h2>Login</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
        <div>
            <label for="exampleInputEmail">Email</label>
            <input type="text" formControlName="email" id="exampleInputEmail" placeholder="Email">
        </div>
    </div>
    <div>
        <div>
            <label for="exampleInputPassword">Password</label>
            <input type="password" formControlName="password" id="exampleInputPassword" placeholder="Password">
        </div>
    </div>
    <button type="submit" [disabled]="!userForm.valid">Login</button>
</form>