<div>
  <h2>Create User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <cap-input formControlName="firstName" type="text" placeholder="First Name">
    </cap-input>
    <cap-input formControlName="lastName" type="text" placeholder="Last Name">
    </cap-input>
    <cap-input formControlName="email" type="text" placeholder="Email">
    </cap-input>
    <cap-input formControlName="password" type="password" placeholder="Password">
    </cap-input>
    <cap-button type="submit" text="Create"></cap-button>
  </form>
</div>