<section class="containerLogin">
  <h1 class="title">Inicia sesión</h1>
  <h2>y pide tu pizza favorita</h2>
  <form class="login" [formGroup]="formGroup" (submit)="onSubmit($event)">
    <cap-input [formGroup]="formGroup" name="email" type="text" placeholder="Tu Email * ">
    </cap-input>
    <cap-input [formGroup]="formGroup" name="password" type="password" placeholder="Contraseña *">
    </cap-input>
    <cap-button class= "bottonlogin" type="submit" text="Empezar pedido"></cap-button>
  </form>
  <h2 class="register">¿Aún no estás registrado?</h2>
  <cap-anchor [href]="pathLayout" text="REGISTRARSE"></cap-anchor>
</section>